.list { 
    list-style-type: none;
    margin-top: 1rem;
    padding: 0 2rem;
}

.list_item {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    font-size: 13pt;
    display: grid;
    grid-template-columns: auto 3rem;
    height: 2.5rem;
    align-items: center;
}

.list_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    height: 100%;
}
.fas {
    opacity: 0;
    text-align: center;
}
.list_item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.list_item:hover .fas {
    opacity: 1;
}
.list_text {
    display: flex;
}
.item_title {
    color: #333;
}

.item_author {
    color: #999;
    margin-left: 0.5rem;
}

.item_date {
    color: #333;
    width: 5rem;
    text-align: left;
}

.item_buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

